/*** Copyright 2018 Johannes Kessler
*
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.groupRelationList {
	ul {
		list-style: none;
		padding-left: 30px;

		li {
			font-weight: normal;
			list-style-type: none;
		}
		li:last-child {
			padding-bottom: 12px;
		}
	}
	
	> ul {
		padding-left: 0;
		font-weight: bold;
	}

	.clickable {
		cursor: pointer;
	}
}